[Unit]
Description=Serial-to-Bluetooth Bridge
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=idle
Restart=always
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/local/bin/bt_serial_bridge.py --init-bt /dev/ttyUSB0
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target